body {
  height: 100%;
    margin: 0;
    padding: 0;
    
}
top {
    position: relative;
    width: 100%;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
   
   
}

.logo {
    top: 50%; 
    left: 0; 
    width: 100%; 
    position: absolute;
    text-align: center;
    font-family: 'Sonsie One', cursive;
    color: white;
}

.nav ul{
    list-style: none;
    margin-bottom: -25px;
    
    
}
.nav li {
    font-family: 'Sonsie One', cursive;
    
    
}
.nav a{
    text-decoration: none;
    color: white;
    margin-bottom: -48px;
    float: right;

    display: block;
    padding: 14px 16px;
   position: relative;
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 25%;
    top: 1%;
    width: 50%;
    height: 90%;
    border-radius: 5%;
    overflow: auto;
    background-color: white;
}
form input, form select{
    margin-bottom: 2%;
    margin-right: 2%;
}
#preview {
    height: 100%;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    padding-bottom: 10%;
    border: 1px solid #888;
    width: 90%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#checkout, #submit, #edit{
    background-color: blue;
    color: white;
    padding: 10px 25px;
    margin-top: 3%;
    margin-right: 4%;
    border-radius: 5%;
    font-size: 16px;
    float: right;
}


.cards {
    margin-bottom: 0;
}
#cInfo {
    line-height: 60px;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgb(211,211,211);
  background-color: rgba(211,211,211, 0.5);
}
.luck {
    font-size: 65px;
}
.marquee {
    font-size: 20px;
    word-spacing: 20px;
}
.about {
    height: 400px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #1e1e1d;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: -20px;
    margin-bottom: -20px;
}
.useAdd {
    width: 50%;
}
.eventContainer {
    
    width: 100%;
    border-bottom: black solid 1px;
    overflow: hidden;
    
    
}
.thisW {
    border-bottom: 1px solid black;
    line-height: 50%;
}
.thisWhere {
    font-style: italic;
    
}
.thisAge {
    color: green;
}
.morrisseyPic {
    width: 20%;
    height: 20%;
    margin-left: 10%;
    margin-right: 5%;
    float: left;
    display: block;
    
    
}

.eventsHead {
    text-align: center;
    padding-top: 20px;
    border-bottom: black solid 1px;
}
.who {
    font-size: 20px;
}
.with {
    font-size: 15px;
}
.age {
    color: green;
}
.notSold, .sold {
    padding: 10px 25px;
    margin-top: 60px;
    margin-bottom: 2%;
    margin-right: 15%;
    border-radius: 5%;
    color: white;
    font-size: 16px;
    float: right;
    
}
.notSold {
    background-color: #6fb5e5;
}
.sold {
    background-color: #cd0000;
}
.arrowContainer {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 1%;
}
.all{
    text-align: center;
    font-size: 20px;
}
.arrow {
    width: 5%;
    margin-left: 48%;
    margin-right: 20%;
    margin-top: -10px;
    
    
}
.arrow:hover {
    background-color: lightgrey;
    width: 5.2%;
}

.venues {
    margin-top: 0;
    height: auto;
    padding-top: 4%;
    padding-bottom: 5%;
}
.contact, .venues {
    text-align: center;
    
    padding-right: 10%;
    padding-left: 10%;
    
    margin-bottom: -20px;
    color: white;
    background-color: #1e1e1d;
    
}
.contact {
    padding-top: 10px;
    height: 360px;
}
.venLink a {
    text-decoration: none;
    color: white;
}
.venLink a:hover:visited, .venLink a:hover {
    color: grey;
}
.venLink a:visited {
    color: #f9f9ac;
    
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  
}

.conHead {
    font-size: 30px;
}
.address {
    font-size: 20px;
}
.iconCon {
  width: 100%;
  margin-top: 5%;
  
}

.icons {
   width: 6%;
   margin-right: 1%;
   border-radius: 20px;
   display: inline-block;
   position: relative;
   
}

.icons:hover {
    width: 6.2%;
}
.cityVen {
    text-decoration: underline white;
}
.lineEq {
    border-bottom: solid black 1px;
    
}
.priceRight {
    text-align: right;
}

footer {
    color: white;
    background-color: #1e1e1d;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
